<tr class="bsh-creature-action-entry">
    <td>
        <i class="bsh-clickable bsh-info-icon bsh-is-info fas fa-info-circle" data-content="{{system.description}}"></i>
        {{name}}
    </td>
    <td>
        <center>{{testAttribute}}</center>
    </td>
    <td>
        <center>{{system.damage}}</center>
    </td>
    <td>
        <i class="bsh-clickable bsh-delete-action bsh-is-danger fas fa-times-circle" data-id="{{_id}}"></i>
    </td>
</tr>
