<section class="bsh-cs-attributes-list">
	<!-- Strength -->
	<div class="bsh-cs-attribute-container">
		<div class="bsh-cs-attribute-container-header">
			<center>
				<span class="bsh-attribute-title">{{localize "bsh.attributes.strength.short"}}</span>
				<i class="fas fa-dice-d20 bsh-attribute-roll-icon" title="{{localize 'bsh.fields.titles.rollAttributeTest'}}" data-actor="{{actor.id}}" data-attribute="strength"></i>
			</center>
		</div>
		<div class="bsh-cs-attribute-container-body" title="{{localize 'bsh.fields.titles.calculatedAttribute'}}">
			<center>
			    <span class="bsh-cs-attribute-value">{{actor.system.calculated.strength}}</span>
			</center>
		</div>
	</div>

	<!-- Dexterity -->
	<div class="bsh-cs-attribute-container">
		<div class="bsh-cs-attribute-container-header">
			<center>
				<span class="bsh-attribute-title">{{localize "bsh.attributes.dexterity.short"}}</span>
				<i class="fas fa-dice-d20 bsh-attribute-roll-icon" title="{{localize 'bsh.fields.titles.rollAttributeTest'}}" data-actor="{{actor.id}}" data-attribute="dexterity"></i>
			</center>
		</div>
		<div class="bsh-cs-attribute-container-body" title="{{localize 'bsh.fields.titles.calculatedAttribute'}}">
			<center>
			    <span class="bsh-cs-attribute-value">{{actor.system.calculated.dexterity}}</span>
			</center>
		</div>
	</div>

	<!-- Constitution -->
	<div class="bsh-cs-attribute-container">
		<div class="bsh-cs-attribute-container-header">
			<center>
				<span class="bsh-attribute-title">{{localize "bsh.attributes.constitution.short"}}</span>
				<i class="fas fa-dice-d20 bsh-attribute-roll-icon" title="{{localize 'bsh.fields.titles.rollAttributeTest'}}" data-actor="{{actor.id}}" data-attribute="constitution"></i>
			</center>
		</div>
		<div class="bsh-cs-attribute-container-body" title="{{localize 'bsh.fields.titles.calculatedAttribute'}}">
			<center>
			    <span class="bsh-cs-attribute-value">{{actor.system.calculated.constitution}}</span>
			</center>
		</div>
	</div>

	<!-- Intelligence -->
	<div class="bsh-cs-attribute-container">
		<div class="bsh-cs-attribute-container-header">
			<center>
				<span class="bsh-attribute-title">{{localize "bsh.attributes.intelligence.short"}}</span>
				<i class="fas fa-dice-d20 bsh-attribute-roll-icon" title="{{localize 'bsh.fields.titles.rollAttributeTest'}}" data-actor="{{actor.id}}" data-attribute="intelligence"></i>
			</center>
		</div>
		<div class="bsh-cs-attribute-container-body" title="{{localize 'bsh.fields.titles.calculatedAttribute'}}">
			<center>
			    <span class="bsh-cs-attribute-value">{{actor.system.calculated.intelligence}}</span>
			</center>
		</div>
	</div>

	<!-- Wisdom -->
	<div class="bsh-cs-attribute-container">
		<div class="bsh-cs-attribute-container-header">
			<center>
				<span class="bsh-attribute-title">{{localize "bsh.attributes.wisdom.short"}}</span>
				<i class="fas fa-dice-d20 bsh-attribute-roll-icon" title="{{localize 'bsh.fields.titles.rollAttributeTest'}}" data-actor="{{actor.id}}" data-attribute="wisdom"></i>
			</center>
		</div>
		<div class="bsh-cs-attribute-container-body" title="{{localize 'bsh.fields.titles.calculatedAttribute'}}">
			<center>
			    <span class="bsh-cs-attribute-value">{{actor.system.calculated.wisdom}}</span>
			</center>
		</div>
	</div>

	<!-- Charisma -->
	<div class="bsh-cs-attribute-container">
		<div class="bsh-cs-attribute-container-header">
			<center>
				<span class="bsh-attribute-title">{{localize "bsh.attributes.charisma.short"}}</span>
				<i class="fas fa-dice-d20 bsh-attribute-roll-icon" title="{{localize 'bsh.fields.titles.rollAttributeTest'}}" data-actor="{{actor.id}}" data-attribute="charisma"></i>
			</center>
		</div>
		<div class="bsh-cs-attribute-container-body" title="{{localize 'bsh.fields.titles.calculatedAttribute'}}">
			<center>
			    <span class="bsh-cs-attribute-value">{{actor.system.calculated.charisma}}</span>
			</center>
		</div>
	</div>
</section>
