<div class="bsh-tab-body bsh-background-tab {{tabBodySelectionClass "background"}}">
    <h2>{{localize "bsh.headers.base_attributes"}}</h2>
    <p class="bsh-blurb">{{localize "bsh.blurbs.base_attributes"}}</p>
    {{> "systems/black-sword-hack/templates/partials/cs-base-attributes-list.hbs"}}

	<h2>{{localize "bsh.headers.background"}}</h2>
    <div class="bsh-field">
    	<label for="system.birth" class="bsh-label">{{localize "bsh.fields.labels.birth"}}</label>
    	<select name="system.birth" class="bsh-input bsh-select">
		{{#select actor.system.birth}}
		{{#each configuration.birthList as |value|}}
    		<option value="{{value}}">{{localize value}}</option>
		{{/each}}
		{{/select}}
    	</select>
    </div>

	<div class="bsh-field">
    	<label for="system.origin" class="bsh-label">{{localize "bsh.fields.labels.origin"}}</label>
    	<select name="system.origin" class="bsh-input bsh-select">
		{{#select actor.system.origin}}
		{{#each configuration.originList as |label value|}}
    		<option value="{{value}}">{{localize label}}</option>
		{{/each}}
		{{/select}}
    	</select>
    </div>

    <div class="bsh-field">
    {{#backgroundSelect "first" fromOrigin=true}}
		<label for="system.backgrounds.first" class="bsh-label">{{localize labelKey}}</label>
		<select name="system.backgrounds.first" class="bsh-input bsh-select">
		{{#select ../actor.system.backgrounds.first}}
		{{#each options as |label value|}}
			<option value="{{value}}">{{localize label}}</option>
		{{/each}}
		{{/select}}
		</select>
    {{/backgroundSelect}}
    </div>


    <div class="bsh-field">
    {{#backgroundSelect "second" fromOrigin=true}}
		<label for="system.backgrounds.second" class="bsh-label">{{localize labelKey}}</label>
		<select name="system.backgrounds.second" class="bsh-input bsh-select">
		{{#select ../actor.system.backgrounds.second}}
		{{#each options as |label value|}}
			<option value="{{value}}">{{localize label}}</option>
		{{/each}}
		{{/select}}
		</select>
    {{/backgroundSelect}}
    </div>


    <div class="bsh-field">
    {{#backgroundSelect "third" fromOrigin=false}}
		<label for="system.backgrounds.third" class="bsh-label">{{localize labelKey}}</label>
		<select name="system.backgrounds.third" class="bsh-input bsh-select">
		{{#select ../actor.system.backgrounds.third}}
		{{#each options as |label value|}}
			<option value="{{value}}">{{localize label}}</option>
		{{/each}}
		{{/select}}
		</select>
    {{/backgroundSelect}}
    </div>

    <br>
    <h2>{{localize "bsh.headers.random"}}</h2>
    <p class="bsh-blurb">{{localize "bsh.blurbs.random_generation"}}</p>
    <button class="bsh-random-character-generator-button" data-id="{{actor.id}}">{{localize "bsh.buttons.random_generation"}}</button>
</div>
