<div class="bsh-base-attributes-list-container">
	<!-- Strength -->
	<div class="bsh-base-attribute-container" data-attribute="strength">
		<div class="bsh-base-attribute-title-container">
			<center>
			    <span class="bsh-base-attribute-title">{{localize "bsh.attributes.strength.short"}}</span>
			</center>
		</div>
		<div class="bsh-base-attribute-value-container">
			<center>
			    <input type="number" name="system.attributes.strength" value="{{actor.system.attributes.strength}}" class="bsh-base-attribute-input" />
			</center>
		</div>
	</div>

	<!-- Dexterity -->
	<div class="bsh-base-attribute-container" data-attribute="dexterity">
		<div class="bsh-base-attribute-title-container">
			<center>
			    <span class="bsh-base-attribute-title">{{localize "bsh.attributes.dexterity.short"}}</span>
			</center>
		</div>
		<div class="bsh-base-attribute-value-container">
			<center>
				<input type="number" name="system.attributes.dexterity" value="{{actor.system.attributes.dexterity}}" class="bsh-base-attribute-input" />
			</center>
		</div>
	</div>

	<!-- Constitution -->
	<div class="bsh-base-attribute-container" data-attribute="constitution">
		<div class="bsh-base-attribute-title-container">
			<center>
			    <span class="bsh-base-attribute-title">{{localize "bsh.attributes.constitution.short"}}</span>
			</center>
		</div>
		<div class="bsh-base-attribute-value-container">
			<center>
				<input type="number" name="system.attributes.constitution" value="{{actor.system.attributes.constitution}}" class="bsh-base-attribute-input" />
			</center>
		</div>
	</div>

	<!-- Intelligence -->
	<div class="bsh-base-attribute-container" data-attribute="intelligence">
		<div class="bsh-base-attribute-title-container">
			<center>
			    <span class="bsh-base-attribute-title">{{localize "bsh.attributes.intelligence.short"}}</span>
			</center>
		</div>
		<div class="bsh-base-attribute-value-container">
			<center>
				<input type="number" name="system.attributes.intelligence" value="{{actor.system.attributes.intelligence}}" class="bsh-base-attribute-input" />
			</center>
		</div>
	</div>

	<!-- Wisdom -->
	<div class="bsh-base-attribute-container" data-attribute="wisdom">
		<div class="bsh-base-attribute-title-container">
			<center>
			    <span class="bsh-base-attribute-title">{{localize "bsh.attributes.wisdom.short"}}</span>
			</center>
		</div>
		<div class="bsh-base-attribute-value-container">
			<center>
				<input type="number" name="system.attributes.wisdom" value="{{actor.system.attributes.wisdom}}" class="bsh-base-attribute-input" />
			</center>
		</div>
	</div>

	<!-- Charisma -->
	<div class="bsh-base-attribute-container" data-attribute="charisma">
		<div class="bsh-base-attribute-title-container">
			<center>
			    <span class="bsh-base-attribute-title">{{localize "bsh.attributes.charisma.short"}}</span>
			</center>
		</div>
		<div class="bsh-base-attribute-value-container">
			<center>
				<input type="number" name="system.attributes.charisma" value="{{actor.system.attributes.charisma}}" class="bsh-base-attribute-input" />
			</center>
		</div>
	</div>
</div>