<div class="bsh-consumable-entry-name">
	<span class="bsh-item-name" data-item="{{_id}}">{{name}}</span>
</div>
<div class="bsh-consumable-entry-quantity bsh-text-truncated">
	<center>{{system.quantity}}</center>
</div>
<div class="bsh-consumable-entry-usage-die bsh-text-truncated">
	<center>{{usageDie system.usageDie}}</center>
</div>
<div class="bsh-consumable-entry-actions">
	<i class="fas fa-dice-two bsh-usage-die-roll-icon bsh-action-icon" title="{{localize 'bsh.fields.titles.rollDie'}}" data-item="{{_id}}" data-die="usageDie" data-type="{{localize 'bsh.data.descriptions.usageDie'}}"></i>
	<i class="fas fa-undo-alt bsh-reset-usage-die-icon bsh-action-icon" title="{{localize "bsh.fields.titles.resetConsumable"}}" data-item="{{_id}}"></i>
	<i class="fas fa-plus bsh-increase-quantity-icon bsh-action-icon" title="{{localize "bsh.fields.titles.incrementConsumable"}}" data-item="{{_id}}"></i>
	<i class="fas fa-minus bsh-decrease-quantity-icon bsh-action-icon" title="{{localize "bsh.fields.titles.decrementConsumable"}}" data-item="{{_id}}"></i>
	<i class="fas fa-info-circle bsh-info-icon" data-content="{{system.description}}"></i>
	<i class="far fa-trash-alt bsh-delete-item-icon bsh-action-icon" title="{{localize "bsh.fields.titles.deleteConsumable"}}" data-item="{{_id}}" data-type="{{type}}"></i>
</div>
