<div class="bsh-demon-entry-name bsh-text-truncated">
	<span class="bsh-item-name" data-item="{{_id}}">{{name}}</span>
</div>
<div class="bsh-demon-entry-actions">
	<i class="fas fa-book-dead bsh-summon-demon-icon bsh-action-icon" title="{{localize "bsh.fields.titles.summonDemon"}}" data-demon="{{_id}}"></i>
	<i class="far fa-trash-alt bsh-delete-item-icon bsh-action-icon" title="{{localize "bsh.fields.titles.deleteDemon"}}" data-item="{{_id}}" data-type="{{type}}"></i>
</div>
