<div class="bsh-equipment-entry-name">
	<span class="bsh-item-name" data-item="{{_id}}">{{name}}</span>
</div>
<div class="bsh-equipment-entry-actions">
    <i class="fas fa-info-circle bsh-info-icon" data-content="{{system.description}}"></i>
	<i class="far fa-trash-alt bsh-delete-item-icon bsh-action-icon" title="{{localize "bsh.fields.titles.deleteEquipment"}}" data-item="{{_id}}" data-type="{{type}}"></i>
</div>
