<div class="bsh-tab-body bsh-front-page-tab {{tabBodySelectionClass "front-page"}}">
    <div class="bsh-stats-line-3">
        <div class="bsh-field">
            <label class="bsh-label" for="data.armour.description">{{localize "bsh.fields.labels.armourDescription"}}</label>
            <input type="text" name="data.armour.description" value="{{data.armour.description}}" class="bsh-input" />
        </div>

        <div class="bsh-field">
            <label class="bsh-label" for="data.armour.type">{{localize "bsh.fields.labels.armourType"}}</label>
            <select name="data.armour.type" class="bsh-input bsh-select">
            {{#select data.armour.type}}
            {{#each configuration.armourTypes as |armourData value|}}
                <option value="{{value}}">{{localize armourData.name}}</option>
            {{/each}}
            {{/select}}
            </select>
        </div>

        <div class="bsh-field">
            <label class="bsh-label" for="data.armour.shield">{{localize "bsh.fields.labels.shield"}}</label>
            <select name="data.armour.shield" class="bsh-input bsh-select">
            {{#select data.armour.shield}}
            {{#each configuration.yesNoList as |key value|}}
                <option value="{{value}}">{{localize key}}</option>
            {{/each}}
            {{/select}}
            </select>
        </div>
    </div>

    <div class="bsh-stats-line-4">
        <div class="bsh-field">
            <label class="bsh-label" for="data.damageDice.armed">
                <i class="fas fa-dice-six bsh-dice-roll-icon bsh-action-icon" title="{{localize 'bsh.fields.titles.rollDie'}}" data-die="{{data.damageDice.armed}}" data-id="{{actor._id}}" data-type="armedDamage"></i>
                {{localize "bsh.fields.labels.damageArmed"}}
            </label>
            <select name="data.damageDice.armed" class="bsh-input bsh-select">
            {{#select data.damageDice.armed}}
            {{#each configuration.diceList as |label value|}}
                <option value="{{value}}">{{localize label}}</option>
            {{/each}}
            {{/select}}
            </select>
        </div>

        <div class="bsh-field">
            <label class="bsh-label" for="data.damageDice.unarmed">
                <i class="fas fa-dice-six bsh-dice-roll-icon bsh-action-icon" title="{{localize 'bsh.fields.titles.rollDie'}}" data-die="{{data.damageDice.unarmed}}" data-id="{{actor._id}}" data-type="unarmedDamage"></i>
                {{localize "bsh.fields.labels.damageUnarmed"}}
            </label>
            <select name="data.damageDice.unarmed" class="bsh-input bsh-select">
            {{#select data.damageDice.unarmed}}
            {{#each configuration.diceList as |label value|}}
                <option value="{{value}}">{{localize label}}</option>
            {{/each}}
            {{/select}}
            </select>
        </div>

        <div class="bsh-field">
            <label class="bsh-label" for="data.maximumHitPoints">{{localize "bsh.fields.labels.hitPointsMaximum"}}</label>
            <input type="number" name="data.maximumHitPoints" value="{{data.maximumHitPoints}}" class="bsh-input bsh-centered-input" readonly />
        </div>

        <div class="bsh-field">
            <label class="bsh-label" for="data.currentHitPoints">{{localize "bsh.fields.labels.hitPointsCurrent"}}</label>
            <input type="number" name="data.currentHitPoints" value="{{data.currentHitPoints}}" class="bsh-input bsh-centered-input" />
        </div>
    </div>

    <div class="collapsible-widget" data-expanded="true">
    	<h2>
            <div class="bsh-float-left collapsible-widget-toggle">
                <span class="collapsible-widget-icon"><i class="fas fa-plus"></i></span>
                <span class="collapsible-widget-icon"><i class="fas fa-minus"></i></span>
            </div>
            &nbsp;
            {{localize "bsh.headers.weapons"}}
        </h2>
        <div class="collapsible-widget-target">
        	<div class="bsh-weapon-entries">
            	<div>
            	    <span class="bsh-column-header">{{localize "bsh.headers.weaponName"}}</span>
            	</div>
            	<div>
        	    	<span class="bsh-column-header">{{localize "bsh.headers.weaponKind"}}</span>
            	</div>
                <div></div>
        	{{#each weapons as |weapon id|}}
        	    {{> "systems/black-sword-hack/templates/partials/cs-weapon-entry.hbs" weapon}}
        	{{/each}}
            </div>
        </div>
    </div>

    <div class="collapsible-widget" data-expanded="true">
        <h2>
            <div class="bsh-float-left collapsible-widget-toggle">
                <span class="collapsible-widget-icon"><i class="fas fa-plus"></i></span>
                <span class="collapsible-widget-icon"><i class="fas fa-minus"></i></span>
            </div>
            &nbsp;
            {{localize "bsh.headers.consumables"}}
        </h2>
        <div class="collapsible-widget-target">
            <div class="bsh-consumable-entries">
            	<div>
            	    <span class="bsh-column-header">{{localize "bsh.headers.itemName"}}</span>
            	</div>
            	<div>
            	    <center>
            	    	<span class="bsh-column-header">{{localize "bsh.headers.itemQuantity"}}</span>
            	    </center>
            	</div>
            	<div>
            	    <center>
            	    	<span class="bsh-column-header">{{localize "bsh.headers.itemUsageDie"}}</span>
            	    </center>
            	</div>
            	<div></div>
        	{{#each consumables as |consumable id|}}
        	    {{> "systems/black-sword-hack/templates/partials/cs-consumable-entry.hbs" consumable}}
        	{{/each}}
            </div>
        </div>
    </div>

    <div class="collapsible-widget" data-expanded="true">
        <h2>
            <div class="bsh-float-left collapsible-widget-toggle">
                <span class="collapsible-widget-icon"><i class="fas fa-plus"></i></span>
                <span class="collapsible-widget-icon"><i class="fas fa-minus"></i></span>
            </div>
            &nbsp;
            {{localize "bsh.headers.equipment"}}
        </h2>
        <div class="collapsible-widget-target">
            <div class="bsh-equipment-entries">
        	{{#each equipment as |item id|}}
        	    {{> "systems/black-sword-hack/templates/partials/cs-equipment-entry.hbs" item}}
        	{{/each}}
            </div>
        </div>
    </div>

    <h2>{{localize "bsh.headers.wealth"}}</h2>
    <div>
    	<span class="bsh-column-header">{{localize "bsh.headers.coins"}}</span>
    </div>
	<div class="bsh-coins-container">
		<input type="text" name="data.coins.first" value="{{data.coins.first}}" class="bsh-input" />
		<input type="text" name="data.coins.second" value="{{data.coins.second}}" class="bsh-input" />
		<input type="text" name="data.coins.third" value="{{data.coins.third}}" class="bsh-input" />
		<input type="text" name="data.coins.fourth" value="{{data.coins.fourth}}" class="bsh-input" />
		<input type="text" name="data.coins.fifth" value="{{data.coins.fifth}}" class="bsh-input" />
	</div>
</div>
