<div class="bsh-gift-entry-name">
	<span class="bsh-item-name" data-item="{{_id}}">{{name}}</span>
</div>
<div class="bsh-gift-power-name">
    <span class="bsh-capitalized-text">{{system.power}}</span>
</div>
<div class="bsh-gift-entry-actions">
	<i class="fas fa-info-circle bsh-info-icon" data-content="{{system.description}}"></i>
    <i class="far fa-trash-alt bsh-delete-item-icon bsh-action-icon" data-item="{{_id}}" data-type="{{type}}" title="{{localize "bsh.fields.titles.deleteGift"}}"></i>
</div>
