<div class="bsh-tab-body bsh-magic-tab {{tabBodySelectionClass "magic"}}">
	<br>

{{#if hasDemons}}
    <div class="collapsible-widget" data-expanded="true">
		<h2>
            <div class="bsh-float-left collapsible-widget-toggle">
                <span class="collapsible-widget-icon"><i class="fas fa-plus"></i></span>
                <span class="collapsible-widget-icon"><i class="fas fa-minus"></i></span>
            </div>
            &nbsp;
		    {{localize "bsh.headers.demons"}}
		    <div class="bsh-float-right">
		    	<span class="bsh-summoning-state">{{summoningState actor.system.summoning.demon}}</span>
		    	<i class="fas fa-undo-alt bsh-reset-dark-pact-icon bsh-action-icon" title="{{localize "bsh.fields.titles.resetAllDemons"}}" data-actor="{{actor.id}}" data-type="demon"></i>
		    </div>
		</h2>
		<div class="collapsible-widget-target">
			<div class="bsh-demon-entries">
				<div>
					<span class="bsh-column-header">{{localize "bsh.headers.demonName"}}</span>
				</div>
				<div></div>

			{{#each demons as |demon id|}}
			    {{> "systems/black-sword-hack/templates/partials/cs-demon-entry.hbs" demon}}
			{{/each}}
			</div>
		</div>
	</div>
	<br>
{{/if}}

{{#if hasSpirits}}
    <div class="collapsible-widget" data-expanded="true">
		<h2>
            <div class="bsh-float-left collapsible-widget-toggle">
                <span class="collapsible-widget-icon"><i class="fas fa-plus"></i></span>
                <span class="collapsible-widget-icon"><i class="fas fa-minus"></i></span>
            </div>
            &nbsp;
		    {{localize "bsh.headers.spirits"}}
		    <div class="bsh-float-right">
		    	<span class="bsh-summoning-state">{{summoningState actor.system.summoning.spirit}}</span>
		    	<i class="fas fa-undo-alt bsh-reset-dark-pact-icon bsh-action-icon" title="{{localize "bsh.fields.titles.resetAllSpirits"}}" data-actor="{{actor.id}}" data-type="spirit"></i>
		    </div>
		</h2>
		<div class="collapsible-widget-target">
			<div class="bsh-spirit-entries">
				<div>
					<span class="bsh-column-header">{{localize "bsh.headers.spiritName"}}</span>
				</div>
				<div></div>

			{{#each spirits as |spirit id|}}
			    {{> "systems/black-sword-hack/templates/partials/cs-spirit-entry.hbs" spirit}}
			{{/each}}
			</div>
		</div>
	</div>
	<br>
{{/if}}

{{#if hasSpells}}
    <div class="collapsible-widget" data-expanded="true">
		<h2>
            <div class="bsh-float-left collapsible-widget-toggle">
                <span class="collapsible-widget-icon"><i class="fas fa-plus"></i></span>
                <span class="collapsible-widget-icon"><i class="fas fa-minus"></i></span>
            </div>
            &nbsp;
		    {{localize "bsh.headers.spells"}}
		    <div class="bsh-float-right">
		    	<i class="fas fa-undo-alt bsh-reset-all-spells-icon bsh-action-icon" title="{{localize "bsh.fields.titles.resetAllSpells"}}" data-actor="{{actor.id}}"></i>
		    </div>
		</h2>
		<div class="collapsible-widget-target">
			<div class="bsh-spell-entries">
				<div>
					<span class="bsh-column-header">{{localize "bsh.headers.spellName"}}</span>
				</div>
				<div>
					<span class="bsh-column-header">{{localize "bsh.headers.spellState"}}</span>
				</div>
				<div></div>

			{{#each spells as |spell id|}}
			    {{> "systems/black-sword-hack/templates/partials/cs-spell-entry.hbs" spell}}
			{{/each}}
		    </div>
		</div>
	</div>
{{/if}}
</div>
