<div class="bsh-spirit-entry-name bsh-text-truncated">
	<span class="bsh-item-name" data-item="{{_id}}">{{name}}</span>
</div>
<div class="bsh-spirit-entry-actions">
	<i class="fas fa-ghost bsh-summon-spirit-icon bsh-action-icon" title="{{localize "bsh.fields.titles.summonSpirit"}}" data-spirit="{{_id}}"></i>
	<i class="far fa-trash-alt bsh-delete-item-icon bsh-action-icon" title="{{localize "bsh.fields.titles.deleteSpirit"}}" data-item="{{_id}}" data-type="{{type}}"></i>
</div>
