<div class="bsh-tab-body bsh-saga-tab {{tabBodySelectionClass "saga"}}">
	<div class="bsh-field">
		<h2>{{localize "bsh.fields.labels.stories"}}</h2>
		<p class="bsh-blurb">{{localize "bsh.blurbs.stories"}}</p>
		<div class="bsh-stories-container">
			<div>
			    <span class="bsh-column-header">{{localize "bsh.headers.story"}}</span>
			</div>
			<div>
			    <center><span class="bsh-column-header">{{localize "bsh.headers.level"}}</span></center>
			</div>

			<div>
				<input type="text" name="data.stories.story01" value="{{data.stories.story01}}" class="bsh-input"/>
			</div>
			<div>
				<div class="bsh-level-name">
				    <span>{{localize "bsh.levels.names.2"}}</span>
				</div>
			</div>

			<div>
				<input type="text" name="data.stories.story02" value="{{data.stories.story02}}" class="bsh-input"/>
			</div>
			<div></div>

			<div>
				<input type="text" name="data.stories.story03" value="{{data.stories.story03}}" class="bsh-input"/>
			</div>
			<div>
				<div class="bsh-level-name">
				    <span>{{localize "bsh.levels.names.3"}}</span>
				</div>
			</div>

			<div>
				<input type="text" name="data.stories.story04" value="{{data.stories.story04}}" class="bsh-input"/>
			</div>
			<div></div>

			<div>
				<input type="text" name="data.stories.story05" value="{{data.stories.story05}}" class="bsh-input"/>
			</div>
			<div></div>

			<div>
				<input type="text" name="data.stories.story06" value="{{data.stories.story06}}" class="bsh-input"/>
			</div>
			<div>
				<div class="bsh-level-name">
				    <span>{{localize "bsh.levels.names.4"}}</span>
				</div>
			</div>

			<div>
				<input type="text" name="data.stories.story07" value="{{data.stories.story07}}" class="bsh-input"/>
			</div>
			<div></div>

			<div>
				<input type="text" name="data.stories.story08" value="{{data.stories.story08}}" class="bsh-input"/>
			</div>
			<div></div>

			<div>
				<input type="text" name="data.stories.story09" value="{{data.stories.story09}}" class="bsh-input"/>
			</div>
			<div></div>

			<div>
				<input type="text" name="data.stories.story10" value="{{data.stories.story10}}" class="bsh-input"/>
			</div>
			<div>
				<div class="bsh-level-name">
				    <span>{{localize "bsh.levels.names.5"}}</span>
				</div>
			</div>

			<div>
				<input type="text" name="data.stories.story11" value="{{data.stories.story11}}" class="bsh-input"/>
			</div>
			<div></div>

			<div>
				<input type="text" name="data.stories.story12" value="{{data.stories.story12}}" class="bsh-input"/>
			</div>
			<div></div>

			<div>
				<input type="text" name="data.stories.story13" value="{{data.stories.story13}}" class="bsh-input"/>
			</div>
			<div></div>

			<div>
				<input type="text" name="data.stories.story14" value="{{data.stories.story14}}" class="bsh-input"/>
			</div>
			<div></div>

			<div>
				<input type="text" name="data.stories.story15" value="{{data.stories.story15}}" class="bsh-input"/>
			</div>
			<div>
				<div class="bsh-level-name">
				    <span>{{localize "bsh.levels.names.6"}}</span>
				</div>
			</div>

			<div>
				<input type="text" name="data.stories.story16" value="{{data.stories.story16}}" class="bsh-input"/>
			</div>
			<div></div>

			<div>
				<input type="text" name="data.stories.story17" value="{{data.stories.story17}}" class="bsh-input"/>
			</div>
			<div></div>

			<div>
				<input type="text" name="data.stories.story18" value="{{data.stories.story18}}" class="bsh-input"/>
			</div>
			<div></div>

			<div>
				<input type="text" name="data.stories.story19" value="{{data.stories.story19}}" class="bsh-input"/>
			</div>
			<div></div>

			<div>
				<input type="text" name="data.stories.story20" value="{{data.stories.story20}}" class="bsh-input"/>
			</div>
			<div></div>

			<div>
				<input type="text" name="data.stories.story21" value="{{data.stories.story21}}" class="bsh-input"/>
			</div>
			<div>
				<div class="bsh-level-name">
				    <span>{{localize "bsh.levels.names.7"}}</span>
				</div>
			</div>

			<div>
				<input type="text" name="data.stories.story22" value="{{data.stories.story22}}" class="bsh-input"/>
			</div>
			<div></div>

			<div>
				<input type="text" name="data.stories.story23" value="{{data.stories.story23}}" class="bsh-input"/>
			</div>
			<div></div>

			<div>
				<input type="text" name="data.stories.story24" value="{{data.stories.story24}}" class="bsh-input"/>
			</div>
			<div></div>

			<div>
				<input type="text" name="data.stories.story25" value="{{data.stories.story25}}" class="bsh-input"/>
			</div>
			<div></div>

			<div>
				<input type="text" name="data.stories.story26" value="{{data.stories.story26}}" class="bsh-input"/>
			</div>
			<div></div>

			<div>
				<input type="text" name="data.stories.story27" value="{{data.stories.story27}}" class="bsh-input"/>
			</div>
			<div></div>

			<div>
				<input type="text" name="data.stories.story28" value="{{data.stories.story28}}" class="bsh-input"/>
			</div>
			<div>
				<div class="bsh-level-name">
				    <span>{{localize "bsh.levels.names.8"}}</span>
				</div>
			</div>

			<div>
				<input type="text" name="data.stories.story29" value="{{data.stories.story29}}" class="bsh-input"/>
			</div>
			<div></div>

			<div>
				<input type="text" name="data.stories.story30" value="{{data.stories.story30}}" class="bsh-input"/>
			</div>
			<div></div>

			<div>
				<input type="text" name="data.stories.story31" value="{{data.stories.story31}}" class="bsh-input"/>
			</div>
			<div></div>

			<div>
				<input type="text" name="data.stories.story32" value="{{data.stories.story32}}" class="bsh-input"/>
			</div>
			<div></div>

			<div>
				<input type="text" name="data.stories.story33" value="{{data.stories.story33}}" class="bsh-input"/>
			</div>
			<div></div>

			<div>
				<input type="text" name="data.stories.story34" value="{{data.stories.story34}}" class="bsh-input"/>
			</div>
			<div></div>

			<div>
				<input type="text" name="data.stories.story35" value="{{data.stories.story35}}" class="bsh-input"/>
			</div>
			<div></div>

			<div>
				<input type="text" name="data.stories.story36" value="{{data.stories.story36}}" class="bsh-input"/>
			</div>
			<div>
				<div class="bsh-level-name">
				    <span>{{localize "bsh.levels.names.9"}}</span>
				</div>
			</div>

			<div>
				<input type="text" name="data.stories.story37" value="{{data.stories.story37}}" class="bsh-input"/>
			</div>
			<div></div>

			<div>
				<input type="text" name="data.stories.story38" value="{{data.stories.story38}}" class="bsh-input"/>
			</div>
			<div></div>

			<div>
				<input type="text" name="data.stories.story39" value="{{data.stories.story39}}" class="bsh-input"/>
			</div>
			<div></div>

			<div>
				<input type="text" name="data.stories.story40" value="{{data.stories.story40}}" class="bsh-input"/>
			</div>
			<div></div>

			<div>
				<input type="text" name="data.stories.story41" value="{{data.stories.story41}}" class="bsh-input"/>
			</div>
			<div></div>

			<div>
				<input type="text" name="data.stories.story42" value="{{data.stories.story42}}" class="bsh-input"/>
			</div>
			<div></div>

			<div>
				<input type="text" name="data.stories.story43" value="{{data.stories.story43}}" class="bsh-input"/>
			</div>
			<div></div>

			<div>
				<input type="text" name="data.stories.story44" value="{{data.stories.story44}}" class="bsh-input"/>
			</div>
			<div></div>

			<div>
				<input type="text" name="data.stories.story45" value="{{data.stories.story45}}" class="bsh-input"/>
			</div>
			<div>
				<div class="bsh-level-name">
				    <span>{{localize "bsh.levels.names.10"}}</span>
				</div>
			</div>

			<div>
				<input type="text" name="data.stories.story46" value="{{data.stories.story46}}" class="bsh-input"/>
			</div>
			<div></div>

			<div>
				<input type="text" name="data.stories.story47" value="{{data.stories.story47}}" class="bsh-input"/>
			</div>
			<div></div>

			<div>
				<input type="text" name="data.stories.story48" value="{{data.stories.story48}}" class="bsh-input"/>
			</div>
			<div></div>

			<div>
				<input type="text" name="data.stories.story49" value="{{data.stories.story49}}" class="bsh-input"/>
			</div>
			<div></div>

			<div>
				<input type="text" name="data.stories.story50" value="{{data.stories.story50}}" class="bsh-input"/>
			</div>
			<div></div>
		</div>
	</div>
</div>