<div class="bsh-tab-label-container">
	<div class="bsh-tab-label {{tabLabelSelectionClass "front-page"}}" data-actor="{{actor.id}}" data-tab="front-page">
		<center>
			<span>{{localize "bsh.tabs.labels.front"}}</span>
		</center>
	</div>

	<div class="bsh-tab-label {{tabLabelSelectionClass "equipment"}}" data-actor="{{actor.id}}" data-tab="equipment">
		<center>
			<span>{{localize "bsh.tabs.labels.equipment"}}</span>
		</center>
	</div>

	<div class="bsh-tab-label {{tabLabelSelectionClass "magic"}}" data-actor="{{actor.id}}" data-tab="magic">
		<center>
			<span>{{localize "bsh.tabs.labels.magic"}}</span>
		</center>
	</div>

	<div class="bsh-tab-label {{tabLabelSelectionClass "saga"}}" data-actor="{{actor.id}}" data-tab="saga">
		<center>
			<span>{{localize "bsh.tabs.labels.saga"}}</span>
		</center>
	</div>

	<div class="bsh-tab-label {{tabLabelSelectionClass "background"}}" data-actor="{{actor.id}}" data-tab="background">
		<center>
			<span>{{localize "bsh.tabs.labels.background"}}</span>
		</center>
	</div>
</div>
