<div class="bsh-tab-label-container">
	<div class="bsh-tab-label {{tabLabelSelectionClass "front-page"}}" data-tab="front-page">
		<span>{{localize "bsh.tabs.labels.front"}}</span>
	</div>

	<div class="bsh-tab-label {{tabLabelSelectionClass "magic"}}" data-tab="magic">
		<span>{{localize "bsh.tabs.labels.magic"}}</span>
	</div>

	<div class="bsh-tab-label {{tabLabelSelectionClass "saga"}}" data-tab="saga">
		<span>{{localize "bsh.tabs.labels.saga"}}</span>
	</div>

	<div class="bsh-tab-label {{tabLabelSelectionClass "background"}}" data-tab="background">
		<span>{{localize "bsh.tabs.labels.background"}}</span>
	</div>
</div>
