<div class="bsh-weapon-entry-name">
	<span class="bsh-item-name" data-item="{{_id}}">{{name}}</span>
</div>
<div class="bsh-weapon-entry-type">
	{{weaponType system.type}}
</div>
<div class="bsh-weapon-entry-actions">
	<i class="fas fa-dice-d20 bsh-attack-roll-icon bsh-action-icon" title="{{localize "bsh.fields.titles.rollAttack"}}" data-item="{{_id}}" data-type="{{type}}"></i>
	<i class="far fa-trash-alt bsh-delete-item-icon bsh-action-icon" title="{{localize "bsh.fields.titles.deleteWeapon"}}" data-item="{{_id}}" data-type="{{type}}"></i>
</div>
