<div class="bsh-damage-button-container">
    <button class="bsh-damage-button" data-actor="{{actorId}}" data-doomed="{{doomed}}" data-critical="{{critical}}" data-formula="{{formula}}" data-id="{{weaponId}}" data-name="{{weapon}}">
        {{localize "bsh.messages.labels.buttons.rollDamage"}}
    </button>
</div>
