<p>
    [{{actor}}] {{localize "bsh.messages.blurbs.summons"}}: {{demon}}
</p>

{{> "systems/black-sword-hack/templates/messages/roll.hbs" roll}}

<p class="bsh-summon-results">
{{#fumble}}
    {{localize "bsh.messages.blurbs.summonFumble"}}
{{/fumble}}

{{^fumble}}
    {{localize "bsh.messages.blurbs.summonFailure"}}
{{/fumble}}
</p>

